*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(17, 17, 17, 1);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.anchors{
    width: 400px;
    height: 46px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 4px;
    text-decoration: none;
}
.btn { 
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 40px;
    background: rgba(230, 83, 60, 1);
    color: white;
    text-decoration: none;
}


.heading{
    color: rgba(230, 83, 60, 1);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}